.rmdp-header-values{
    span{
        font-weight: 700;
    }
}
.rmdp-container {
    width: 100%;

    .rmdp-header-values{
      font-size: 18px;
    }
    .rmdp-week-day{
      font-size: 10px;
      justify-content: start;
    }
    .rmdp-week {
        & .rmdp-day{
          display: flex;
          justify-content: start;
          align-items: center;
          aspect-ratio: 1;
          height: auto;
          span{
            aspect-ratio: 1;
          }
        }
    }
    .rmdp-day-picker{
      width: 100%;
      div{
        width: 100%;
      }
    }
    .rmdp-arrow-container{
      width: 30px;
      height: 30px;
      align-items: center;
      .rmdp-arrow{
        margin-top: 0;
        width: 12px;
        height: 12px;
      }
    }

}

@media screen and (width > 768px) {
  .rmdp-container > div:nth-child(2) {
    width: inherit;
    .rmdp-wrapper.datepicker-single-screen {
          max-width: 296px;
          .rmdp-top-class ,.rmdp-calendar  ,.rmdp-day-picker, .rmdp-day-picker div {
            width: 100%;
          }
    }

  }
}

@media screen and (width <= 768px) {
  .rmdp-container > div:nth-child(2) {
    width: 100vw;
    height: 100svh;
    position: fixed !important;
    bottom: 0;
    top: auto !important;

    display: flex;
    justify-content: end;
    align-items: end;

    overflow-y: scroll;
    transform: translateY(100%) !important;
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.35s ease;
    &:has(div[role='dialog']) {
    transform: translateY(0) !important;
    opacity: 1;
    }

    & > div {
      width: 100%;

      .rmdp-wrapper.rmdp-shadow {
        width: 100%;

        .rmdp-calendar {
          width: 100%;
          .rmdp-week-day{
            font-size: 16px;
          
          }
          .rmdp-day-picker{
              .rmdp-day{
                  span{
                    font-size: 16px;
                  }
              }
          }
          
        }

      }
        .rmdp-toolbar {
          div:nth-child(3) {
            display: none;
          }
          &.top{
            background-color: #cccccc50;
          }
          div{
            background-color: transparent;
            color: #0074d9;
            font-size: 16px;
            &:hover{
              box-shadow: none;
            }

          }
          justify-content: space-between;
      }
    }
  }
}
